#game {

  height:50px;
  width:100%;
  background-color: red;
  text-align: center;
  margin: 0;
  opacity: 10%;

}



#house {

  font-style: italic;

}

body {

  background-image: url("betting.jpg");
  background-repeat:no-repeat;
  background-position: center top;

}

.answer {

  margin-top: 25px;
  font-size: 21px;
  text-align: center;

}